bin/
obj/

*.suo
*.user
*.userosscache
*.sln.docstates

.vscode/

[Dd]ebug/
[Rr]elease/

.vs/

#packages/

_ReSharper*/

_TFS*

*.coverage
*.coveragexml

**/[Pp]ackages/*
*.nupkg
**/[Pp]ackages/
!**/[Pp]ackages/build/
#!**/[Pp]ackages/repositories.config

!**/[Pp]ackages/build/

_NCrunch_*
.*crunch*.local.xml

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

mono_crash.*

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk
